<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>AngularJS Notes App</title>
    <link rel="stylesheet" href="app.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>

         <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    <!-- <script type="text/javascript" src="angular.min.js"></script> -->
</head>

<body>
<div ng-app="myList" ng-controller="myCtrl" ng-init="load()" id="mylist" class="col-md-6">
    <h3>AngularJS Notes</h3>

    <ul class="list-group"">
    <li class="list-group-item" ng-repeat="x in list"><strong>{{x}}</strong><span class="ex pull-right" ng-click="removeItem($index)"><strong>&times;</strong></span></li>
    </ul>

    <textarea class="form-control" rows="5" class="form-control"  ng-model="addMe"></textarea>
    <button class="btn btn-success" ng-click="addItem()">Add</button>

</div>

<script type="text/javascript">
    var app= angular.module("myList",["ngStorage"]);

    app.controller("myCtrl", function($scope,$localStorage, $sessionStorage, $window){



 		$scope.load = function () {
        	//console.log($scope.list);
        	 
    	  $scope.list = (JSON.parse($window.localStorage.storedarray)) ? JSON.parse($window.localStorage.storedarray) : [];

        }

        $scope.addItem = function () {
            $scope.list.push($scope.addMe);

            localStorage.setItem("storedarray", JSON.stringify($scope.list));

            $scope.storedarray= (localStorage.getItem('storedarray')!==null) ? JSON.parse(localStorage.getItem('storedarray')) : [];
            
        }

        $scope.removeItem = function(x){
            $scope.list.splice(x,1);
            localStorage.setItem("storedarray", JSON.stringify($scope.list));

            $scope.storedarray= (localStorage.getItem('storedarray')!==null) ? JSON.parse(localStorage.getItem('storedarray')) : [];
        }

    });
</script>
</body>
</html>
